@import "./variable";

* {
  box-sizing: border-box;
}
.container {
  max-width: 1260px;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

a:hover {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #7a7a9d;
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background: #dde1ef;
  border-radius: 3px;
}
li {
  list-style: none;
}

.more {
  margin: 2rem auto;
  max-width: 28rem;
  line-height: 5rem;
  text-align: center;
  border-radius: 0.5rem;
  background-color: $yellow;
  cursor: pointer;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 500;
  color: $white;
  border: 1px solid $yellow;

  &:hover {
    background-color: $white;
    color: $yellow;
  }
}

.content-title {
  text-align: center;
  margin: 2rem 0;
  h2 {
    text-transform: uppercase;
    color: $yellow;
    margin: 0;
  }
}
